.my-custom-table table {
  border-collapse: collapse;
  width: 200%;
}

.my-custom-table thead tr > th {
  background: #ccc;
  position: sticky;
  padding: .5rem;
  z-index: 2;
  top: 0;
}

.my-custom-table thead tr > :first-child {
  z-index: 3;
  left: 0;
  top: 0;
  display: block;
}

.my-custom-table tbody tr > :first-child {
  background: #ddd;
  position: sticky;
  z-index: 1;
  left: 0;
}

.my-custom-table td {
  text-align: center;
}

.my-custom-table .pgn__data-table-layout-wrapper {
    display: block !important; /* Sobrescreve o display: flex */
  }